<div id="<%= dom_id property_user %>">
  <p>
    <strong>Favorite:</strong>
    <%= property_user.favorite %>
  </p>

  <p>
    <strong>Closed:</strong>
    <%= property_user.closed %>
  </p>

  <p>
    <strong>Contacted:</strong>
    <%= property_user.contacted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= property_user.user_id %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= property_user.property_id %>
  </p>

</div>
