<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Operation type:</strong>
    <%= property.operation_type %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= property.phone %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= property.property_type %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= property.bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= property.bathrooms %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= property.area %>
  </p>

  <p>
    <strong>Pets:</strong>
    <%= property.pets %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

</div>
